OPENAI_API_KEY=sk-proj-..
HUGGINGFACEHUB_API_TOKEN=hf_..
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2_..
LANGSMITH_PROJECT=LANGCHAIN_PROJECT
TAVILY_API_KEY=tvly-..
UPSTAGE_API_KEY=up_..
ANTHROPIC_API_KEY=sk-ant-api03-..
PINECONE_API_KEY=549b555d-c388-4d...
COHERE_API_KEY=63HBVVS...
LLAMA_CLOUD_API_KEY=llx-...
JINA_API_KEY=jina...
DEEPL_API_KEY=deepl-api-key...
PPLX_API_KEY=pplx-...
GOOGLE_API_KEY=AIzaSyCSttRIEqEf1_X...
